.example-full-width {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
}

.strength-sections {
  display: flex;
  gap: 5px;
}

.strength-section {
  flex-grow: 1;
  height: 20px;

  position: relative;
  text-align: center;
}

.strength-section div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mat-icon-button-styles {
  border: none;
  margin: 0 20px;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    fill: red;
    outline: 1px solid grey;
    background-color: lightgray;
    padding: auto;
    border-radius: 20px;
  }
}

.mdc-linear-progress__bar-inner {
  border-color: none !important;
}

.lightgray {
  background-color: lightgray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.progress__bar-basic-style {
  &.lightgrey-progress {
    --mdc-linear-progress-active-indicator-color: lightgray;
    --mdc-linear-progress-track-color: rgba(196, 191, 205, 0.25);
  }

  &.red-progress {
    --mdc-linear-progress-active-indicator-color: red;
    --mdc-linear-progress-track-color: rgba(183, 58, 58, 0.25);
  }

  &.yellow-progress {
    --mdc-linear-progress-active-indicator-color: yellow;
    --mdc-linear-progress-track-color: rgba(183, 177, 58, 0.25);
  }

  &.green-progress {
    --mdc-linear-progress-active-indicator-color: green;
    --mdc-linear-progress-track-color: rgba(103, 58, 183, 0.25);
  }
}
