<div class="container">
  <h1>Password Strength Test</h1>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="{{ hidePassword ? 'password' : 'text' }}"
        matInput
        [(ngModel)]="password"
        (input)="calculateStrength()"
        placeholder="Enter Password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        class="mat-icon-button-styles"
      >
        <mat-icon>{{
          hidePassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      <mat-hint>Password strength will be evaluated instantly!</mat-hint>
    </mat-form-field>
  </div>

  <div class="strength-sections">
    <div
      class="strength-section lightgray"
      [ngClass]="{
        red:
          (password && passwordStrength === 33) ||
          (password && password.length < 8)
      }"
    >
      <div></div>
      <span>Weak</span>
    </div>
    <div
      class="strength-section lightgray"
      [ngClass]="{
        red: password && password.length < 8,
        yellow: password && password.length >= 8 && passwordStrength === 66
      }"
    >
      <div></div>
      <span>Medium</span>
    </div>
    <div
      class="strength-section lightgray"
      [ngClass]="{
        red: password && password.length < 8,
        green: password && password.length >= 8 && passwordStrength === 100
      }"
    >
      <div></div>
      <span>Strong</span>
    </div>
  </div>
  <mat-progress-bar
    mode="determinate"
    class="progress__bar-basic-style"
    [value]="passwordStrength"
    [ngClass]="getProgressBarClass()"
  ></mat-progress-bar>
</div>
